<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row mb-3">
    <%= form.label :name, class:"col-3 col-form-label" %>
    <div class="col-9">
      <%= form.text_field :name, class:"form-control", placeholder:"Product Name" %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <%= form.label :brand, class:"col-3 col-form-label" %>
    <div class="col-9">
      <%= form.text_field :brand, class:"form-control", placeholder:"Product Brand" %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <%= form.label :size, class:"col-3 col-form-label" %>
    <div class="col-9">
      <%= form.text_field :size, class:"form-control", placeholder:"Product Size" %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <%= form.label :categories, class:"col-3 col-form-label" %>
    <div class="col-9">
      <%= form.text_field :categories, class:"form-control", placeholder:"Product Categories" %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <%= form.label :ingredients, class:"col-3 col-form-label" %>
    <div class="col-9">
      <%= form.text_field :ingredients, class:"form-control", placeholder:"Product Ingredients" %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <%= form.label :upc, class:"col-3 col-form-label" %>
    <div class="col-9">
      <%= form.text_field :upc, class:"form-control", placeholder:"Universal Product Code" %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <%= form.label :image, class:"col-3 col-form-label" %>
    <div class="col-9">
      <%= form.file_field :image, class:"form-control" %>
    </div>
  </div>

  <div class="d-flex flex-row-reverse gap-4 mt-5">
    <%= form.submit class:'btn btn-success' %>
    <%= link_to "Back", products_path, class: "btn btn-outline-primary" %>
  </div>

<% end %>
